/* Defining areas */
/* Header Section */

.header {
    grid-area: header;
}
.brand{
    grid-area: brand;
}

.global-nav{
    grid-area: global-nav
}

.tools{
    grid-area: tools
}

.toolbox:hover > :not(:hover){
    opacity: 0.5;
}


/* Hero Section */

.hero {
    grid-area: hero;
}
.hero-feature{
    grid-area: hero-feature;
}
.hero-cta{
    grid-area: hero-cta;
}

/* Ads */

.promo1{
    grid-area: promo1;
}

.promo2{
    grid-area: promo2;
}

/* Article Body Section */
.body {
    grid-area: body;
}
.feature{
    grid-area: feature;
}
.listing{
    grid-area: listing;
}

/* Sidebar */
.sidebar{
    grid-area: sidebar;
}

/* Footer */
.footer{
    grid-area: footer;
}

/* Phone Layout */
@media (max-width: 575px){
    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "hero"
            "body"
            "footer"
    }
    .sidebar{
        display: none;
    }
    .promo1{
        display:none;
    }
    .promo2{
        display: none;
    }
    .promo3{
        display:grid;
        overflow: hidden;
        }
    .transparent-band{
        position: relative;
        height: 30px;
        top: -110px;
        background-color: rgba(227, 200, 142, 0.655);
        color: rgba(240, 248, 255, 0);    
    }
    .slider{
        position: relative;
        top: -75px;
        z-index: 1;
        font-size: xx-large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        white-space: nowrap;
        /* left: 100%; */
        animation: slideleft 10s linear infinite
    }

    @keyframes slideleft {
        0% {
            left: 100%;
        }
        100% {
            left: -100%
        }
        
    }

    .hero-feature{
        display: none;
    }
    .header{
        display: grid;
        grid-template-areas:
            "brand brand"
            "global-nav tools"
    }
    .brand * {
        display: flex;
        justify-content: center;
    }
    .global-nav{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 5%;
    }
    .tools{
        display: flex;
        justify-content: center;
    }
    .toolbox{
        display: flex;
        margin-right: 10px;
        margin-bottom: 5%;
    }
    .tooltext{
        display: flex;
        justify-content: center;
        margin-right: 1%;
        padding-right: 2%;
        padding-left: 2%;
        border-radius: 20px;
        transition: opacity 0.75s ease;
        cursor: pointer;
    }
    .tooltext > span {
        display: none;
    }
    .tooltext > img{
        width: 50px;
    }

    .hero{
        display:grid;
        grid-template-areas: "hero-cta";
    }
    .body{
        display:grid;
        grid-template-areas: 
            "feature"
            "promo3"
            "listing";
    }
    .footer{
        display: grid;
    }
}


/* Tablet Layout */
@media (min-width: 576px){
    body{
        display:grid;
        grid-template-rows: auto;
        grid-template-areas: 
            "header"
            "hero"
            "body"
            "sidebar"
            "footer";
    }
    .header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "brand global-nav tools";
        align-items: center;
    }
    .promo1{
        display: none;
    }
    .hero{
        display:grid;
        grid-template-areas:
            "hero-feature"
            "hero-cta";
    }
    .body{
        display: grid;
        grid-template-areas: 
            "feature promo2"
            "listing listing";
    }
    .sidebar{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
    .tools{
        margin-right: 10%;
        }
    .toolbox{
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-content: center;
    }
    .tooltext{
        display: flex;
        margin-right: 3%;
        padding: 5px;
        padding-top: 5px;
        border-radius: 10px;
        transition: 0.75s ease;
        cursor: pointer;
        }
    .tooltext:not(:hover) {
        span {
            display: none;
        }
}

/* Desktop layout */
@media (min-width: 992px){
    body{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
        grid-template-areas: 
            "header header header header header header header header header header"
            "hero hero hero hero hero hero hero hero hero promo1"
            "body body body body body body body body body sidebar"
            "footer footer footer footer footer footer footer footer footer footer";
    }
    .header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "brand global-nav tools";
        justify-items: center;
        align-items: center;
    }
    .hero{
        display: grid;
        grid-template-areas: "hero-feature hero-feature hero-cta";
    }
    .body{
        display:grid;
        grid-template-areas: "feature listing listing";
    }
    .toolbox{
        display: flex;
        justify-content: flex-end;
    }
    .tooltext{
        display: flex;
        align-content: center;
        padding: 10px;
        padding-top: 10px;
        border-radius: 15px;
        transition: 0.75s ease;
        cursor:pointer;
    }
    .tooltext:not(:hover) {
        span {
            display: none;
        }
        padding: 5px;
        padding-top: 12px;
    }

    .promo1{
        display:grid;
    }
    .promo2{
        display:none;
    }
    .promo3{
        display: none;
    }
    
}

