body{
    background-color: rgb(65, 45, 25);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-size: xx-large;
}

.coa{
    width: 25%;
    height: auto;
}

.header {
    background-color: rgb(67, 97, 54);
}

.global-nav{
    width: 100%;
}

.tooltext{
    background-color: rgb(168, 135, 93);
}

.hero {
    background-color: rgb(168, 135, 93);
    margin: 10px;
    border-radius: 20px;;
}

.hero:hover > :not(:hover){
    opacity: 0.5;
}


.body {
    background-color: rgb(168, 135, 93);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer {
    background: rgb(67, 97, 54);
    margin-top: 20px;
    padding: 20px;
}

.promo1{
    display: flex;
    align-items: center;
}

.promo2{
    display: grid;
    background-color: rgb(85, 43, 132);
    align-items: center;
}

.sidebanner{
    margin-top: 50%;
    margin-bottom: 50%;
}

.promo3{
    display:none;
}

.photo{
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

.highlight{
    display: grid;
    margin-bottom: 10px;
    padding: 5px;
    justify-items: center;
    border-radius: 20px;
    transition: opacity, background-color 0.75s ease;
}

.highlight:hover{
    background-color: rgb(197, 174, 145);
}

.listing:hover > :not(:hover){
    opacity: 0.4}

.listing{
    padding: 10px;
    margin: 10px;
}

.feature{
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    transition: background-color 0.75s ease;
}

.feature:hover{
    background-color: rgb(197, 174, 145);
}

.hero-cta{
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    transition: opacity, background-color 0.75s ease;
}

.hero-cta:hover{
    background-color: rgb(197, 174, 145);
}

.hero-feature{
    padding:10px;
    border-radius: 20px;
    transition: opacity, background-color 0.75s ease;
}
.hero-feature:hover{
    background-color: rgb(197, 174, 145);
}

.sidebar{
    background-color: rgb(67, 97, 54);
    border-radius: 20px;
    transition: opacity 0.75s ease;
    display: flex;
    justify-content: center;

}

.sidebar-feature{
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
}

.sidebar-highlight{
    display: grid;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    transition: background-color 0.75s ease;
}

.sidebar-highlight:hover{
    background-color: rgb(98, 125, 87);

}

td{
    width: 50%
}

.img-promo1{
    max-width:100%;
    animation: blink 5s linear infinite;
}

@keyframes blink {
    0%, 1% {
        opacity: 1;
    }
    2%, 3% {
        opacity: 0.75;
    }
    4%, 10% {
        opacity: 1;
    }
    11%, 12% {
        opacity: 0.75;
    }
    13%, 100% {
        opacity: 1;
    }
}